h1 {
    font-family: 'Times New Roman', Times, serif;
}

.counter-display {
    margin: 100px;
}

.counter-display div {
    display: inline-block;
    font-size: 100px;
    background-color: black;
    color: white;
    width: 80px;
}

.bi-clock {
    margin-bottom: 17px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
}